* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.main-card {
    max-width: 500px;
    width: 100%;
    height: 300px;
    box-shadow: 5px 5px 30px 5px rgb(0, 0, 0, 0.2);
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.main-card p {
    font-size: 20px;
    font-weight: 500;
}

.difficulty {
    text-align: center;
    margin-bottom: 10px;
}

.navigation {
    margin: 20px 0 20px 0;
    max-width: 200px;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    font-size: 20px;
    font-weight: 700;
}

.navigation p:first-of-type, .navigation p:last-of-type {
    cursor: pointer;
}

#answer {
    width: 300px;
    height: 30px;
    text-align: center;
    border: 2px solid black;
    cursor: pointer;
}

#answer:hover {
     border: 2px solid blue;
}

.error {
    color: red;
    font-size: 20px;
    text-align: center;
}

.button {
    border: 1px solid black;
    border-radius: 5px;
    margin: 5px;
    width: 250px;
    height: 30px;
    background-color: white;
    cursor: pointer;
}

.button:hover {
    border: 2px solid blue;
}

.card-info {
    display: flex;
    flex-direction: column;
    text-align: center;
    max-width: 300px;
    width: 100%;
    color: blue;
    font-weight: bold;
    font-size: 20px;
}

span {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

span p:first-of-type {
    color: green;
}

span p:last-of-type {
    color: red;
}

.modal {
    position: absolute;
    max-width: 600px;
    max-height: 350px;
    height: 100%;
    width: 100%;
    box-shadow: 5px 5px 30px 5px rgb(0, 0, 0, 0.2);
    border-radius: 10px;
    backdrop-filter: blur(5px);
    display: none;
    font-weight: 700;
    font-size: 30px;
}
